services:
  api:
    image: zwsim/zws
    restart: unless-stopped
    ports:
      - '3000:3000'
    links:
      - db
    depends_on:
      - migration
    env_file: ./.env
  migration:
    image: zwsim/zws
    links:
      - db
    env_file: ./.env
    command: ['yarn', 'run', 'migrations']
  db:
    image: postgres:15.2
    env_file: ./db.env
    restart: unless-stopped
    volumes:
      - db:/var/lib/postgresql/data
    expose:
      - '5432'
  watchtower:
    image: containrrr/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
  db:
