# URL or path to database
# Supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public

# Length of shortened IDs
# Default is calculated based on length of SHORT_CHARS
SHORT_LENGTH=12
# JSON array of characters to used in shortened IDs
# Default is a mix of zero-width characters
SHORT_CHARS=["a", "b", "c"]
# JSON object of rewrites to normalize shortened IDs
# Advanced use only
SHORT_REWRITES={"d": "a", "e": "b", "f": "c"}

# HTTP port to listen on
PORT=3000
# API key used to protect some routes
# If you leave this blank anyone will be able to shorten URLs
API_KEY=gDEzEoiUqmXWQdwjtERGYukGrLDaQPco
# The hostname of this API instance
HOSTNAME=api.example.com
# The base URL to build shortened URLs from
# If you leave this blank clients will have to assemble shortened URLs themselves
SHORTENED_BASE_URL=https://example.com

# JSON array of hostnames or domain names that are prevented from being shortened
# If you leave this blank users will be allowed to shorten URLs with the same hostname as your instance
BLOCKED_HOSTNAMES=["example.com"]

# Sentry Data Source Name (DSN) https://docs.sentry.io/product/sentry-basics/dsn-explainer/
SENTRY_DSN=https://00000000000000000000000000000000@0000000.ingest.sentry.io/0000000
