<footer class="footer footer--dark">
  <div class="container">
    <div class="footer__inner">
      <a href="/" class="footer__textLogo">Zero Width Shortener</a>
      <div class="footer__data">
        <div class="footer__data__item">
          <div class="footer__row">
            Created by <a href="https://jonahsnider.ninja" target="_blank" class="footer__link">Jonah Snider</a> and
            <a href="https://github.com/MicroDroid" target="_blank" class="footer__link">OverCoder</a>
          </div>
          <div class="footer__row">
            <a href="https://www.producthunt.com/posts/zero-width-shortener?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-zero-width-shortener"
              target="_blank">
              <img
                src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id=161876&theme=dark&period=daily"
                alt="Zero Width Shortener - Shorten URLs with zero-width characters | Product Hunt Embed"
                style="width: 250px; height: 54px;" width="250px" height="54px" />
            </a>
          </div>
        </div>
        <div class="footer__data__item">
          <div class="footer__row">This website was made with <a href="https://undraw.co/evie" target="_blank"
              class="footer__link">Evie</a> by <a href="https://undraw.co" target="_blank"
              class="footer__link">unDraw</a>
          </div>
          <div class="footer__row">The API was made with <a href="https://firebase.com" target="_blank"
              class="footer__link">Firebase</a>
          </div>
        </div>
        <div class="footer__data__item">
          <div class="footer__row">
            <a href="https://github.com/zws-im/zero-width-shortener" target="_blank" class="footer__link">GitHub</a>
          </div>
          <div class="footer__row">
            <a href="https://docs.zws.im" target="_blank" class="footer__link">Docs</a>
          </div>
          <div class="footer__row">
            <a href="/stats.html" class="footer__link">Stats</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
