<!-- Firebase performance monitoring -->
<script type="text/javascript">
  const firebaseConfig = {
    apiKey: "AIzaSyCIqCPfiJBy520wr73EkZXXuNX-BBwCWm4",
    authDomain: "zero-width-shortener.firebaseapp.com",
    databaseURL: "https://zero-width-shortener.firebaseio.com",
    projectId: "zero-width-shortener",
    storageBucket: "zero-width-shortener.appspot.com",
    messagingSenderId: "1090998003190",
    appId: "1:1090998003190:web:c26f056545426aa4"
  };

  (function (sa, fbc) {
    function load(f, c) {
      var a = document.createElement('script');
      a.async = 1; a.src = f; var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(a, s);
    } load(sa); window.onload = function () { firebase.initializeApp(fbc).performance(); };
  })('https://www.gstatic.com/firebasejs/6.0.2/firebase-performance-standalone.js', firebaseConfig);
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133415948-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-133415948-3');
</script>

<!-- CSS and formatting -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://evie.undraw.co/css/style.min.css">
<link rel="stylesheet" href="/assets/overrides.css">

<!-- SEO meta tags -->
<title>Zero Width Shortener</title>
<meta name="twitter:title" content="Zero Width Shortener">
<meta name="og:site_name" content="Zero Width Shortener">
<meta property="og:title" content="Zero Width Shortener">

<meta property="og:url" content="https://zws.im">
<link rel="canonical" href="https://zws.im/">

<meta name="language" content="EN">
<meta property="og:locale" content="en_US">

<meta name="description" content="Shorten URLs using invisible spaces.">
<meta name="twitter:description" content="Shorten URLs using invisible spaces.">
<meta property="og:description" content="Shorten URLs using invisible spaces.">

<meta property="og:type" content="website">

<meta name="twitter:card" content="summary">

<meta name="theme-color" content="#121212">

<meta name="keywords" content="zero, width, shortener, url, url shortener, zero-width">

<link rel="icon" href="/assets/image/logo-512.png">

<link rel="manifest" href="/assets/js/manifest.json">
