<div class="navbar">
  <nav class="nav__mobile"></nav>
  <div class="container">
    <div class="navbar__inner">
      <a href="/" class="navbar__logo">Zero Width Shortener</a>
      <nav class="navbar__menu">
        <ul>
          <li><a href="https://github.com/zws-im/zero-width-shortener">GitHub</a></li>
          <li><a href="https://docs.zws.im/">Docs</a></li>
          <li><a href="/stats">Stats</a></li>
        </ul>
      </nav>
      <div class="navbar__menu-mob">
        <a href="" id='toggle'>
          <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
              class=""></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
