@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind adds this */
@theme {
	--color-zws-purple-50: #ede7ff;
	--color-zws-purple-100: #dcd5f0;
	--color-zws-purple-400: #9b77ff;
	--color-zws-purple-500: #4413cb;
	--color-zws-purple-700: #483775;
	--color-zws-purple-800: #301b66;
	--color-zws-purple-900: #140a2e;
}

body {
	color: #f8f5ff;
	background: linear-gradient(0deg, #0a0025 0%, #140a2e 100%);
}
