.navbar {
  background-color: #121212;
}

.footer--dark {
  background-color: #121212;
}

.button__accent {
  background-color: #121212;
  border-color: #121212;
}
@media (min-width: 992px) {
  .button__accent:hover {
    background-color: #333333;
    border-color: #333333;
  }
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus {
  border-color: rgb(18, 18, 18, 0.5);
}

.navbar {
  background-color: #121212;
}
