body > div.navbar {
  background-color: #121212;
}

body > footer.footer.footer--dark {
  background-color: #121212;
}

body button.button__accent {
  background-color: #121212;
  border-color: #121212;
}
@media (min-width: 992px) {
  body button.button__accent:hover {
    background-color: #333333;
    border-color: #333333;
  }
}

body input[type="email"]:focus,
body input[type="number"]:focus,
body input[type="password"]:focus,
body input[type="search"]:focus,
body input[type="tel"]:focus,
body input[type="text"]:focus,
body input[type="url"]:focus {
  border-color: rgb(18, 18, 18, 0.5);
}

body input[type="email"]:hover:not(:focus),
body input[type="number"]:hover:not(:focus),
body input[type="password"]:hover:not(:focus),
body input[type="search"]:hover:not(:focus),
body input[type="tel"]:hover:not(:focus),
body input[type="text"]:hover:not(:focus),
body input[type="url"]:hover:not(:focus) {
  border-color: rgb(18, 18, 18, 0.25);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 60px;
}

body > main .auth__title {
  margin-top: 1.5rem;
}

body > main div.auth__inner {
  min-height: 0px;
  margin-top: 0px !important;
}

body > main div.auth__inner form {
  margin-bottom: 0px;
}

body > main div.auth__inner form button {
  margin-bottom: 0px;
}

@media (max-width: 992px) {
  body > main div.auth__auth {
    width: 100%;
    max-width: 420px;
  }
}
