.navbar {
  background-color: #121212;
}

.footer {
  padding: initial;
  padding-top: 36pt;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer--dark {
  background-color: #121212;
}

.button__accent {
  background-color: #121212;
  border-color: #121212;
}
@media (min-width: 992px) {
  .button__accent:hover {
    background-color: #333333;
    border-color: #333333;
  }
}

input:focus {
  border-color: rgb(18, 18, 18, .5);
}
