---
permalink: "/404.html"
---
<!doctype html>
<html lang="en" dir="ltr">

<head>
  <%- include("blocks/head.ejs") %>
</head>

<body>
  <%- include("blocks/navbar.ejs") %>

  <main>
    <div class="container">
      <div class="auth__inner">
        <div class="auth__media">
          <img src="/assets/image/undraw_page_not_found.svg" alt="404">
        </div>
        <div class="auth__auth">
          <h1 class="auth__title">Page Not Found</h1>
            <a href="/" class="button button__accent">Home</a>
        </div>
      </div>
    </div>
  </main>

  <%- include("blocks/scripts.ejs") %>

  <%- include("blocks/footer.ejs") %>
</body>

</html>
