---
permalink: "/index.html"
---

<!doctype html>
<html lang="en" dir="ltr">

<head>
  <%- include("blocks/head.ejs") %>

  <script type="module">
    import shorten from "/assets/js/shorten.js"

    window.shorten = shorten;
  </script>
</head>

<body>
  <%- include("blocks/navbar.ejs") %>

  <main>
    <div class="container">
      <div class="auth__inner">
        <div class="auth__media">
          <img src="/assets/image/undraw_portfolio.svg" alt="Portfolio">
        </div>
        <div class="auth__auth">
          <h1 class="auth__title">Shorten a URL</h1>
          <form onsubmit="event.preventDefault(); shorten()" role="presentation" class="form">
            <input id="long" type="url" placeholder="Your long URL (max 500 characters)" maxlength="500" required=""
              autofocus="" aria-label="Your long URL (max 500 characters)">
            <p id="result"></p>
            <button id="submit" type="submit" class="button button__accent">Shorten</button>
          </form>
        </div>
      </div>
    </div>
  </main>

  <%- include("blocks/footer.ejs") %>

  <%- include("blocks/scripts.ejs") %>
</body>

</html>
