---
permalink: "/stats.html"
---

<!doctype html>
<html lang="en" dir="ltr">

<head>
  <%- include("blocks/head.ejs") %>

  <script type="module">
    import stats from "/assets/js/stats.js"

    window.stats = stats;
  </script>
</head>

<body>
  <%- include("blocks/navbar.ejs") %>

  <main>
    <div class="container">
      <div class="auth__inner">
        <div class="auth__media">
          <img src="/assets/image/undraw_browser_stats.svg" alt="Browser stats">
        </div>
        <div class="auth__auth">
          <h1 class="auth__title">URL Stats</h1>
          <form onsubmit="event.preventDefault(); stats()" role="presentation" class="form">
            <input id="long" type="url" placeholder="Long URL to see stats for (max 500 characters)" maxlength="500"
              required="" autofocus="" aria-label="Long URL to see stats for (max 500 characters)">
            <p id="result"></p>
            <button id="submit" type="submit" class="button button__accent">Check</button>
          </form>
        </div>
      </div>
    </div>
  </main>

  <%- include("blocks/footer.ejs") %>

  <%- include("blocks/scripts.ejs") %>
</body>

</html>
